PORT=5000
MONGO_URI=mongodb+srv://vishalraj857808_db_user:jOe03X1c3LuBNiAc@cluster0.1qf6mea.mongodb.net/Zomathon?appName=Cluster0
JWT_SECRET=supersecretjwtkey_for_hackathon_only
ML_SERVICE_URL=http://127.0.0.1:8000/recommend
